<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/scrapresult.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap">
    <link rel="icon" href={{icon}}>
</head>

<body>
    <h1>{{ title }}</h1>
    <button id="toggleButton">Hide Data</button>
    <table id="dataTable" style="display:block;" border="2">


        {{#if data}}

        <thead>
            <tr>
                <th>Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Specs</th>
                <th>Weight</th>
                <th>Scrap Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ data.year }}</td>
                <td>{{ data.make }}</td>
                <td>{{ data.model }}</td>
                <td>{{ data.specs }}</td>
                <td>{{ data.weight }}</td>
                <td><!-- You can display the Scrap Price here --></td>
            </tr>
        </tbody>

        {{else}}
        <p>No data available</p>
        {{/if}}

        <img src="/images/snowjo.jpg" alt="Icon" height="150" width="200">

        {{#if isAuthenticated}}
        <p>User is authenticated</p>
        {{else}}
        <p>User is not authenticated</p>
        {{/if}}
    </table>
    <script src="/scripts/selection.js"></script>
</body>

</html>